body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.app {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.brand-image {
  max-width: 112px;
  margin: 30px auto 45px;
}

section {
  text-align: center;
  color: white;
  margin: 0 5%;
}

.section__title {
  font-size: 1.75em;
  margin: 0;
}

.section__subtitle {
  font-size: 1.5em;
  margin-bottom: 0.8333333333em;
  padding: 0 5px;
}

.section__description {
  font-size: 0.75em;
  margin: 24px 0 30px;
}

.section__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input-component {
  flex: 1 1 100%;
  padding: 1em 1em;
  color: #212b35;
  font-size: 1em;
  box-shadow: 0 0 0 1px #637381;
  border: none;
  border-radius: 5px;
}

.button-component {
  flex: 1 1 100%;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  background-color: #212b35;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0;
  padding: 1.0625em 1.875em;
  transition: 150ms ease;
  border: none;
  border-radius: 5px;
}

.banner-image {
  display: block;
  width: 100%;
  max-width: 468px;
  margin: 0 auto 20px;
}

@media screen and (min-width: 600px) {
  section {
    margin: 0 10%;
  }
  
  .section__actions {
    flex-wrap: nowrap;
  }

  .input-component {
    flex: 1 1 calc(60% - 12px);
    margin-right: 12px;
    max-width: 356px;
  }
  
  
  .button-component {
    flex: 1 1 40%;
    max-width: 166px;
  }
}

@media screen and (min-width: 768px) {
  section {
    margin: 0 15%;
  }
}
